body { font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
.container { max-width: 720px; margin: 4rem auto; padding: 1rem; }
input { padding: .5rem; margin-right: .5rem }
button { padding: .5rem }
ul { margin-top: 1rem }
